name: build

on:
  push:
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.1
      - run: zig build
      - run: zig build test
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.1
      - run: zig fmt --check build.zig src/*.zig
